
@*<MudPopover OverflowBehavior="OverflowBehavior.FlipNever" Open="false" Class="pa-4" AnchorOrigin="Origin.BottomLeft">
    <MudButton OnClick="ChangeTitle">Change Title</MudButton>
    
</MudPopover>*@

@*<MudBadge Origin="Origin.BottomLeft" Color="Color.Primary" Dot="true" Overlap="true" Elevation="4" BadgeClass="ma-2">
    <MudPaper Elevation="0" Outlined="true" Class="pa-12">
        <MudPopover OverflowBehavior="OverflowBehavior.FlipNever" Open="true" AnchorOrigin="Origin.BottomLeft" Class="pa-4">
            <MudButton OnClick="ChangeTitle">Change Title</MudButton>
            <MudButton OnClick="ToggleCloseButton">Toggle Close Button</MudButton>
            <MudButton OnClick="ToggleFullWidth">Toggle Full Width</MudButton>
            <MudButton OnClick="ToggleHeader">Toggle Header</MudButton>
            
        </MudPopover>
    </MudPaper>
</MudBadge>
*@

<MudDialog >
    <DialogContent>
        <div class="d-flex flex-column py-1">
            <MudButton OnClick="ChangeTitle">Change Title</MudButton>
            <MudButton OnClick="ToggleCloseButton">Toggle Close Button</MudButton>
            <MudButton OnClick="ToggleFullWidth">Toggle Full Width</MudButton>
            <MudButton OnClick="ToggleHeader">Toggle Header</MudButton>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Close() => MudDialog.Close(DialogResult.Ok(true));

    void ChangeTitle()
    {
        MudDialog.SetTitle("Current time is: " + DateTime.Now);
    }

    void ToggleCloseButton()
    {
        MudDialog.Options.CloseButton = !(MudDialog.Options.CloseButton ?? false);
        MudDialog.SetOptions(MudDialog.Options);
    }

    void ToggleFullWidth()
    {
        MudDialog.Options.FullWidth = !(MudDialog.Options.FullWidth ?? true);
        MudDialog.SetOptions(MudDialog.Options);
    }

    void ToggleHeader()
    {
        MudDialog.Options.NoHeader = !(MudDialog.Options.NoHeader ?? false);
        MudDialog.SetOptions(MudDialog.Options);
    }
}